<h1>SEARCH RESULTS</h1>

<% response.jsonBody.businesses.forEach(businesses => { %>
    <li><%= businesses.name %></li>
    <img src="<%= businesses.image_url %>" alt="business image" width="50%"/>
    <p>Rating: <%= businesses.rating %></p>
    <p>Review Count: <%= businesses.review_count %></p>
    <p>Price: <%= businesses.price %></p>
    <p>Address: <%= businesses.location.display_address %></p>
    <p><a href=<%= businesses.url %> target="_blank">Yelp Website</a></p>
    
    <form id="" action="/places" method="POST">
        <input type="hidden" name="name" value="<%= businesses.name %>">
        <input type="hidden" name="yelpUrl" value="<%= businesses.url %>">
        <input type="hidden" name="category" value="<%= businesses.categories[0].alias %>">
        <input type="hidden" name="email" value="<%= %>">
        <button type="submit" id="add">ADD TO PLACES</button>
    </form>    

    <!-- <a href="<%= businesses.url %>" target="_blank"><button>Business Website</button></a> -->
<% }) %>