<h2>SEARCH RESULTS</h2>

<% response.jsonBody.businesses.forEach(businesses => { %>
    <div class="center" id="bigger-font"><%= businesses.name %></div>
    <div class="places">
        <img src="<%= businesses.image_url %>" alt="business image" width="60%"/>
        <div><a href=<%= businesses.url %> target="_blank">Yelp Website</a></div>
        <div>Rating: <%= businesses.rating %></div>
        <div>Review Count: <%= businesses.review_count %></div>
        <div>Price: <%= businesses.price %></div>
        <div>Address: <%= businesses.location.display_address %></div>
        <div><a href="https://www.google.com/maps/search/<%= businesses.location.display_address %>">Google Maps</a></div>

        <form id="" action="/places" method="POST">
            <input type="hidden" name="name" value="<%= businesses.name %>">
            <input type="hidden" name="yelpUrl" value="<%= businesses.url %>">
            <input type="hidden" name="category" value="<%= businesses.categories[0].alias %>">
            <button class="btn-dark btn-sm" type="submit" id="add">ADD TO PLACES</button>
        </form>    
    </div>
<% }) %>